<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.worksout.mapper.goods.GoodsMapper">

    <!-- ADMIN QUERY -->
    <select id="getGoodsList" resultType="goods">
        SELECT /* getGoodsList */
               MAIN_IMG
               , (SELECT CATEGORY_NM FROM GOODS_CATEGORY WHERE CATEGORY_NO = info.CATEGORY_NO) AS CATEGORY_NM
               , GOODS_NO
               , GOODS_NM
               , SEASON
          FROM
               GOODS_INFO info
      ORDER BY REG_DT DESC
               LIMIT 0, 10
    </select>

    <select id="getConditionalGoodsList" resultType="goods">
        SELECT /* getConditionalGoodsList */
               MAIN_IMG
               , (SELECT CATEGORY_NM FROM GOODS_CATEGORY WHERE CATEGORY_NO = info.CATEGORY_NO) AS CATEGORY_NM
               , GOODS_NO
               , GOODS_NM
               , SEASON
          FROM
               GOODS_INFO info
          <include refid="goodsFilter" />
      ORDER BY REG_DT DESC
    </select>
    <sql id="goodsFilter">
        <if test="_parameter == null">ORDER BY REG_DT DESC LIMIT 0, 10</if>
        <where>
            <if test="seasonNm != null and seasonNm != ''">AND SEASON = #{seasonNm}</if>
            <if test="categoryNo != null and categoryNo != 0">AND CATEGORY_NO = #{categoryNo}</if>
            <if test="searchGb != null and searchGb != '' and searchTxt != null and searchTxt != ''">
                AND UPPER(${searchGb}) like CONCAT(CONCAT('%',UPPER(#{searchTxt})),'%')
            </if>
            <if test="displayYn != null">AND DISPLAY_YN = #{displayYn}</if>
        </where>
    </sql>

    <insert id="registerGoods">
        INSERT INTO GOODS_INFO /* registerGoods */
                    (
                    CATEGORY_NO
                    , SEASON
                    , GOODS_NO
                    , GOODS_NM
                    , SIZE_GROUP_NO
                    , GOODS_DESC
                    , REGR
                    , REG_DT
                    )
             VALUES
                    (
                    #{categoryNo}
                    , #{season}
                    , #{goodsNo}
                    , #{goodsNm}
                    , #{sizeGroupNo}
                    , #{goodsDesc}
                    , #{regr}
                    , NOW()
                    )
    </insert>

    <insert id="registerGoodsDetail">
        INSERT INTO GOODS_DETAIL /* registerGoodsDetail */
                    (
                    GOODS_NO
                    , COLOR
                    , SIZE
                    , COLOR_ORD
                    , SIZE_ORD
                    , SUPPLY_PRICE
                    , RETAIL_PRICE
                    , ACTUAL_PRICE
                    , REGR
                    , REG_DT
                    )
             VALUES
                    <foreach collection="details" item="detail" separator=",">
                    (
                    #{detail.goodsNo}
                    , #{detail.color}
                    , #{detail.size}
                    , #{detail.colorOrd}
                    , #{detail.sizeOrd}
                    , #{detail.supplyPrice}
                    , #{detail.retailPrice}
                    , #{detail.actualPrice}
                    , #{detail.regr}
                    , NOW()
                    )
                    </foreach>
    </insert>

    <resultMap id="goodsDetail" type="goods">
        <id column="GOODS_NO" property="goodsNo" />
        <result column="GOODS_NM" property="goodsNm" />
        <result column="CATEGORY_NM" property="categoryNm" />
        <result column="SIZE_GROUP_NM" property="sizeGroupNm" />
        <result column="SIZE_GROUP_No" property="sizeGroupNo" />
        <result column="SEASON" property="season" />
        <result column="SUPPLY_PRICE" property="detail.supplyPrice" />
        <result column="RETAIL_PRICE" property="detail.retailPrice" />
        <result column="GOODS_DESC" property="goodsDesc" />
        <collection property="colors" ofType="String">
            <result column="COLOR" property="colors" />
        </collection>
    </resultMap>
    <select id="getGoods" resultMap="goodsDetail">
        SELECT DISTINCT /* getGoods */
               info.GOODS_NO
               , GOODS_NM
               , (SELECT CATEGORY_NM FROM GOODS_CATEGORY WHERE CATEGORY_NO = info.CATEGORY_NO) AS CATEGORY_NM
               , (SELECT DISTINCT GROUP_NM FROM GOODS_SIZE_GROUP WHERE GROUP_NO = info.SIZE_GROUP_NO) AS SIZE_GROUP_NM
               , SIZE_GROUP_NO
               , SEASON
               , COLOR
               , SUPPLY_PRICE
               , RETAIL_PRICE
               , GOODS_DESC
          FROM
               GOODS_INFO info
          JOIN
               GOODS_DETAIL detail
            ON
               info.GOODS_NO = detail.GOODS_NO
         WHERE
               info.GOODS_NO = #{_parameter}
      ORDER BY COLOR_ORD
    </select>

    <update id="updateGoods">
        UPDATE GOODS_INFO
           SET
               SEASON = #{season}
               , CATEGORY_NO = #{categoryNo}
               <if test="sizeGroupNo != null">
               , SIZE_GROUP_NO = #{sizeGroupNo}
               </if>
               , UPDR = #{updr}
               , UPD_DT = NOW()
         WHERE GOODS_NO = #{goodsNo}
    </update>

    <update id="updateGoodsDetail">
        UPDATE GOODS_DETAIL
           SET
               SUPPLY_PRICE = #{detail.supplyPrice}
               , RETAIL_PRICE = #{detail.retailPrice}
               , UPDR = #{updr}
               , UPD_DT = NOW()
         WHERE GOODS_NO = #{goodsNo}
    </update>

    <!-- SHOP QUERY -->
    <resultMap id="goodsListShop" type="goods">
        <id column="GOODS_NO" property="goodsNo" />
        <result column="GOODS_NM" property="goodsNm" />
        <result column="CATEGORY_NO" property="categoryNo" />
        <result column="SEASON" property="season" />
        <result column="RETAIL_PRICE" property="retailPrice" />
        <result column="REP_IMG" property="repImg" />
        <collection property="colors" ofType="String">
            <result column="COLOR" property="colors" />
        </collection>
        <collection property="mainImgs" ofType="String">
            <result column="MAIN_IMG" property="mainImgs" />
        </collection>
    </resultMap>
    <select id="getGoodsListShop" resultMap="goodsListShop">
        SELECT DISTINCT /* getGoodsListShop */
	           CATEGORY_NO
	           , SEASON
	           , GOODS_NO
	           , GOODS_NM
	           , COLOR
	           , RETAIL_PRICE
	           , COLOR_ORD
	           , CATEGORY_ORD
	           , MAIN_ORD
	           , DISPLAY_YN
	           , MAIN_IMG
	           , (SELECT DISTINCT MAIN_IMG FROM GOODS_INFO WHERE GOODS_NO = info.GOODS_NO AND COLOR = info.REP_COLOR) AS REP_IMG
	           , STOCK
          FROM GOODS_INFO info
         WHERE DISPLAY_YN = true
      ORDER BY MAIN_ORD, COLOR_ORD
    </select>

</mapper>