<!DOCTYPE html>
<html lang="ko-KR">
    <head>
        <meta charset="UTF-8">
        <title>View Goods Images</title>
		<style type="text/css">
			.image-wrapper {
				text-align: center;
			}
		</style>
    </head>
    <body>
		<div class="image-wrapper">
			{{#images}}
				<img class="goods-img" src="http://img.worksout.co.kr{{filePath}}">
			{{/images}}
		</div>
		<script src="/vendor/jquery/jquery.min.js" type="text/javascript"></script>
		<script type="text/javascript">

		</script>
    </body>
</html>