{{> mall/include/header}}
	<style>
		.text-center.w-100,
		.page-header {
			height: 70vh;
		}
	</style>
	<div class="wrapper">
		<div class="page-header clear-filter">
			<div class="text-center w-100">
				<div class="page-header-image" style="background-image:url('/img/IMG_9604.jpg');"></div>
				<div class="container">
					<div class="content-center brand">
						<h1 class="presentation-title">our-layer</h1>
						<h3></h3>
					</div>
					<h6 class="category category-absolute">
						Designed by
						<a href="http://invisionapp.com/" target="_blank">
							invision
						</a>
						. Coded by
						<a href="https://www.creative-tim.com" target="_blank">
							creative-tim
						</a>.
					</h6>
				</div>
			</div>
		</div>
		<div class="text-center">
			<div class="container mt-3">
				<div class="text-center">
					<img src="/img/landing.jpg">
				</div>
			</div>
		</div>
		{{> mall/include/footer}}
	</div>
	{{> mall/include/scripts}}
	<script type="text/javascript">
		$(function () {
		});
	</script>
</body>
</html>